/* Archivo index.css */
body {
  background-color: #fce4ec; /* Fondo pastel suave */
}

h1, p {
  font-family: 'Arial', sans-serif;
}

.textNota {
  font-size: 1rem;
  text-align: center;
  background-color: #e1bee7;
}

.table-bordered {
  border-color: #f8bbd0;
}

.table thead th {
  background-color: #f8f9fa;
  color: #000;
  text-align: center;
}
